In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, Excel file I/O (e.g. pd.read_excel)
import matplotlib.pyplot as plt
%matplotlib inline

In [86]:
xls = pd.ExcelFile('./Balance1.xlsx')
df_paquetes = pd.read_excel(xls, 'paquetes')
df_periodosrecetas = pd.read_excel(xls, 'periodosrecetas')
df_pr_razones = pd.read_excel(xls, 'pr_razones')
df_prospectos = pd.read_excel(xls, 'prospectos')

In [88]:
df_dictionary = pd.read_excel('./DataDictionary.xlsx','Aggre')
df_paquetes_columns = df_paquetes.columns
df_periodosrecetas_columns = df_periodosrecetas.columns
df_pr_razones_columns = df_pr_razones.columns
df_prospectos_columns =  df_prospectos.columns
dict_dictionary = dict(zip(df_dictionary['Field'], df_dictionary['Description']))

In [89]:
df_paquetes_list = []
df_periodosrecetas_list = []
df_pr_razones_list = []
df_prospectos_list = []

for i in range(len(df_paquetes_columns)):
    if df_paquetes_columns[i] in dict_dictionary.keys():
                    df_paquetes_list.append(dict_dictionary.get(df_paquetes_columns[i]))
    else:
        df_paquetes_list.append(df_paquetes_columns[i])

for i in range(len(df_periodosrecetas_columns)):
    if df_periodosrecetas_columns[i] in dict_dictionary.keys():
                    df_periodosrecetas_list.append(dict_dictionary.get(df_periodosrecetas_columns[i]))
    else:
        df_periodosrecetas_list.append(df_periodosrecetas_columns[i])
            
for i in range(len(df_pr_razones_columns)):
    if df_pr_razones_columns[i] in dict_dictionary.keys():
                    df_pr_razones_list.append(dict_dictionary.get(df_pr_razones_columns[i]))
    else:
        df_pr_razones_list.append(df_pr_razones_columns[i])
            
for i in range(len(df_prospectos_columns)):
    if df_prospectos_columns[i] in dict_dictionary.keys():
                    df_prospectos_list.append(dict_dictionary.get(df_prospectos_columns[i]))
    else:
        df_prospectos_list.append(df_prospectos_columns[i])
        
df_paquetes.columns = df_paquetes_list
df_periodosrecetas.columns = df_periodosrecetas_list
df_pr_razones.columns = df_pr_razones_list 
df_prospectos.columns = df_prospectos_list

In [90]:
print(df_paquetes.shape)
df_paquetes.isnull().sum(axis = 0).sort_values()

(11, 6)

Patient Membership package    0
Descripcion                   0
Order                         0
ActivoVE                      0
ActivoBAL                     0
DescripcionVE                 2
dtype: int64

In [91]:
print(df_periodosrecetas.shape)
df_periodosrecetas.isnull().sum(axis = 0).sort_values()

(32, 2)

IdPeriodo      0
Descripcion    0
dtype: int64

In [92]:
print(df_pr_razones.shape)
df_pr_razones.isnull().sum(axis = 0).sort_values()

(6, 2)

IdRazonPR      0
Descripcion    0
dtype: int64

In [93]:
print(df_prospectos.shape)
df_prospectos.isnull().sum(axis = 0).sort_values()

(45525, 25)

IdProspecto                                    0
Branch id                                      0
Create Date                                    0
YearBirth                                     96
Town                                         257
State                                        260
Create Time                                  282
Marital status                               457
Sex                                          736
Username                                     816
Interest                                     819
glucose                                      819
Patient ID                                   819
Social Security                              879
HowInteger                                  1081
Ocupacion                                   1450
Have diabetes                               5900
Sales Advisor                               5951
How long ago did you have diabetes         19496
SpecifyAsInteger                           30495
Expectation                                44954
How long ago did you have hypertension?    45335
Date Appointment                           45447
Reason                                     45519
Scholarship                                45525
dtype: int64

In [94]:
#We decide to delete columns with more than 50% of missing values.
df_prospectos = df_prospectos.drop(columns=['Date Appointment'])
df_prospectos = df_prospectos.drop(columns=['Scholarship'])
df_prospectos = df_prospectos.drop(columns=['Reason'])
df_prospectos = df_prospectos.drop(columns=['How long ago did you have hypertension?'])
df_prospectos = df_prospectos.drop(columns=['Expectation'])
df_prospectos = df_prospectos.drop(columns=['SpecifyAsInteger'])
#focus on therapetuics and mental aspects of the disease.
#careful of one diet, how the body reacts to the diet, medication, insoulin. A1C

In [96]:
#Shape after removing all the missing columns > 50%
df_prospectos.shape

(45525, 19)

In [85]:
#Q1: Each team should create ten hypotheses to test about relationships between potential predictors and 
#diabetes patient engagement. An example might be that patients who live close to a clinic 
#are more likely to be highly engaged in their treatment.

df_prospectos

,IdProspecto,Town,State,YearBirth,Sex,Marital status,Ocupacion,Social Security,HaceCuantoTieneDiabetes,Create Date,Create Time,Username,Interest,HowInteger,glucose,Date Appointment,Patient ID,Branch id,Sales Advisor,Have diabetes
0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-01-01,NaN,d41d8cd98f00b204e9800998ecf8427e,PLÁTICAS O EVENTOS,NaN,0.0,NaN,0.0,1,NaN,NaN
1,5,ESCOBEDO,NUEVO LEÓN,1960.0,M,NaN,NaN,NaN,2 AÑOS,2013-01-01,NaN,d41d8cd98f00b204e9800998ecf8427e,VALORACIÓN EXPRESS,C,371.0,NaN,0.0,1,NaN,1.0
2,6,NaN,NaN,NaN,H,NaN,NaN,NaN,NaN,2013-01-01,NaN,d41d8cd98f00b204e9800998ecf8427e,SÓLO INFORMES,NaN,0.0,NaN,0.0,1,NaN,NaN
3,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-01-01,NaN,d41d8cd98f00b204e9800998ecf8427e,PAQUETE PARA FAMILIAR,NaN,0.0,NaN,0.0,1,NaN,NaN
4,8,GUADALUPE,NUEVO LEÓN,NaN,M,NaN,NaN,IMSS,10 AÑOS,2013-01-01,NaN,d41d8cd98f00b204e9800998ecf8427e,VALORACIÓN EXPRESS,C,224.0,NaN,0.0,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45520,45783,GENERAL ESCOBEDO,NUEVO LEÓN,1973.0,H,MATRIMONIO,EMPLEADO,IMSS,1 AÑO,2016-12-30,16:49:34,d41d8cd98f00b204e9800998ecf8427e,VALORACIÓN EXPRESS,RECOMENDADO,0.0,NaN,0.0,3,d41d8cd98f00b204e9800998ecf8427e,1.0
45521,45784,MONTERREY,NUEVO LEÓN,1943.0,H,MATRIMONIO,PENSIONADO,IMSS,NaN,2016-12-30,16:54:18,d41d8cd98f00b204e9800998ecf8427e,VALORACIÓN EXPRESS,PASA POR AQUI,0.0,NaN,0.0,4,d41d8cd98f00b204e9800998ecf8427e,0.0
45522,45785,MONTERREY,NUEVO LEÓN,1969.0,H,DIVORCIO,EMPLEADO,IMSS,NaN,2016-12-30,17:06:30,d41d8cd98f00b204e9800998ecf8427e,VALORACIÓN EXPRESS,TELEVISION,0.0,NaN,0.0,1,d41d8cd98f00b204e9800998ecf8427e,0.0
45523,45786,GENERAL ESCOBEDO,NUEVO LEÓN,1966.0,M,MATRIMONIO,HOGAR,IMSS,2 AÑOS,2016-12-30,17:10:36,d41d8cd98f00b204e9800998ecf8427e,VALORACIÓN EXPRESS,PASA POR AQUI,0.0,NaN,0.0,3,bc4eff01242fff1c99aeabe198626b54,1.0
45524,45787,APODACA,NUEVO LEÓN,1974.0,H,MATRIMONIO,EMPLEADO,IMSS,1 AÑOS,2016-12-30,18:12:00,d41d8cd98f00b204e9800998ecf8427e,VALORACIÓN EXPRESS,INTERNET,0.0,NaN,0.0,6,d41d8cd98f00b204e9800998ecf8427e,1.0

In [61]:
#Q2 Profiling should include at a minimum the number of records in a file, the fields in a record, and for each field, 
#the format of the data, units, the range of values, and summary statistics for numeric data. 
#You should create some data visualizations to understand the range of values and spot outliers

In [ ]:
#Q3  Skips appointment, from the input file Balance – Tablas (Parte 1)
#Cancels appointment, from the input file Balance – Tablas (Parte 1)
#Reschedules appointment, from the input file Balance – Tablas (Parte 1)

In [ ]:
#Q4 Demographics, from the input files Balance – Tablas (Parte 1). For example marital status could be derived from EstadoCivil
#Geography, from the input files Balance – Tablas (Parte 1). For example,
#distance from clinic is dependent on city and state which are in Ciudad and Estado respectively

In [ ]:
df = pd.read_csv('./analytic_data2021.csv')

In [ ]:
#Q1: basic statistics of the dataset 
print(df.describe())

print(df.shape)
#3194 rows, 71 columns (num of variables)

In [ ]:
#Q1:check missing values

pd.set_option('display.max_rows', None)
df.isnull().sum(axis = 0).sort_values()

#most of the columns have over 20% of missing values. Decided to drop the columns if it has 20% or more missing values.

In [ ]:
#Q1: after dropping above columns, use median imputation for other columns.
df = df.fillna(df.median())

In [ ]:
f = plt.figure(figsize=(25, 25))
plt.matshow(df.corr(), fignum=f.number)
plt.xticks(range(df.select_dtypes(['number']).shape[1]), df.select_dtypes(['number']).columns)
plt.yticks(range(df.select_dtypes(['number']).shape[1]), df.select_dtypes(['number']).columns)
cb = plt.colorbar()
cb.ax.tick_params(labelsize=8)
plt.title('Correlation Matrix', fontsize=10);

In [ ]:
#Q1: checking outliers for Premature death raw value which is our outcome variable in the next tasks
sns.boxplot(x=df["Premature death raw value"])

#de_filtered - our final clean dataset
df_filtered = df[np.abs(df["Premature death raw value"]-df["Premature death raw value"].mean()) <= (3*df["Premature death raw value"].std())]  
print(df_filtered.shape)

#removed 3194-3158 = 36 rows of the v001_rawvalue which are 3 SD away from the data.

In [ ]:
print(df['SalePrice'].describe())
plt.figure(figsize=(9, 8))
sns.distplot(df['SalePrice'], color='g', bins=100, hist_kws={'alpha': 0.4});